TrainingBackEnd/TrainingBackEnd/Front/node_modules/
TrainingBackEnd/TrainingBackEnd/App_Data
TrainingBackEnd/TrainingBackEnd/App_Data/Logs
TrainingBackEnd/TrainingBackEnd/App_Data/ExamineIndexes
TrainingBackEnd/TrainingBackEnd/App_Browsers
TrainingBackEnd/TrainingBackEnd/obj
