packages/
TrainingFrontEnd/node_modules/
TrainingFrontEnd/bower_components/
TrainingFrontEnd/build/
TrainingFrontEnd/obj/
TrainingBackEnd/App_Data
TrainingBackEnd/App_Data/Logs
TrainingBackEnd/App_Data/ExamineIndexes
TrainingBackEnd/App_Browsers
TrainingBackEnd/obj
