<menu class="main-menu" ng-controller="MenuController">
    <div class="container">

        <a class="btn btn-link" ui-sref="home">Home</a>
        <a class="btn btn-link" ui-sref="stations">Schedule</a>
        <a class="btn btn-link" ui-sref="trains">Trains</a>

        <div class="side-menu">
            <a class="btn btn-link" ui-sref="article({alias: '{{article.alias}}', id: {{article.id}}})" ng-repeat="article in articles">
                {{ article.heading }}
            </a>
            <a class="btn btn-link" ui-sref="contact">Contact</a>
        </div>
    </div>
</menu>