.home {

    font-size: 0;
    margin: 200px -1.5% 0 -1.5%;

    .item {
        @extend .transparent-container;
        //background: url(/build/images/noise.png);
        width: 30%;
        margin: 0 1.5%;
        display: inline-block;
    }

}